.dark-medium-contrast {
  --md-sys-color-primary: rgb(246 194 113);
  --md-sys-color-surface-tint: rgb(241 190 109);
  --md-sys-color-on-primary: rgb(33 20 0);
  --md-sys-color-primary-container: rgb(182 137 62);
  --md-sys-color-on-primary-container: rgb(0 0 0);
  --md-sys-color-secondary: rgb(139 213 239);
  --md-sys-color-on-secondary: rgb(0 25 33);
  --md-sys-color-secondary-container: rgb(79 154 178);
  --md-sys-color-on-secondary-container: rgb(0 0 0);
  --md-sys-color-tertiary: rgb(216 205 117);
  --md-sys-color-on-tertiary: rgb(26 23 0);
  --md-sys-color-tertiary-container: rgb(156 146 66);
  --md-sys-color-on-tertiary-container: rgb(0 0 0);
  --md-sys-color-error: rgb(255 186 177);
  --md-sys-color-on-error: rgb(55 0 1);
  --md-sys-color-error-container: rgb(255 84 73);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(24 19 11);
  --md-sys-color-on-background: rgb(236 225 212);
  --md-sys-color-surface: rgb(24 19 11);
  --md-sys-color-on-surface: rgb(255 250 247);
  --md-sys-color-surface-variant: rgb(79 69 57);
  --md-sys-color-on-surface-variant: rgb(215 201 184);
  --md-sys-color-outline: rgb(174 161 145);
  --md-sys-color-outline-variant: rgb(141 129 115);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(236 225 212);
  --md-sys-color-inverse-on-surface: rgb(47 41 33);
  --md-sys-color-inverse-primary: rgb(98 66 0);
  --md-sys-color-primary-fixed: rgb(255 222 174);
  --md-sys-color-on-primary-fixed: rgb(27 15 0);
  --md-sys-color-primary-fixed-dim: rgb(241 190 109);
  --md-sys-color-on-primary-fixed-variant: rgb(75 49 0);
  --md-sys-color-secondary-fixed: rgb(180 235 255);
  --md-sys-color-on-secondary-fixed: rgb(0 20 26);
  --md-sys-color-secondary-fixed-dim: rgb(135 209 234);
  --md-sys-color-on-secondary-fixed-variant: rgb(0 60 74);
  --md-sys-color-tertiary-fixed: rgb(240 229 139);
  --md-sys-color-on-tertiary-fixed: rgb(20 17 0);
  --md-sys-color-tertiary-fixed-dim: rgb(211 201 114);
  --md-sys-color-on-tertiary-fixed-variant: rgb(60 55 0);
  --md-sys-color-surface-dim: rgb(24 19 11);
  --md-sys-color-surface-bright: rgb(63 56 47);
  --md-sys-color-surface-container-lowest: rgb(18 13 7);
  --md-sys-color-surface-container-low: rgb(32 27 19);
  --md-sys-color-surface-container: rgb(36 31 23);
  --md-sys-color-surface-container-high: rgb(47 41 33);
  --md-sys-color-surface-container-highest: rgb(58 52 43);
}
