:root {
    --md-sys-color-primary: rgb(241 190 109);
    --md-sys-color-surface-tint: rgb(241 190 109);
    --md-sys-color-on-primary: rgb(67 44 0);
    --md-sys-color-primary-container: rgb(96 65 0);
    --md-sys-color-on-primary-container: rgb(255 222 174);
    --md-sys-color-secondary: rgb(135 209 234);
    --md-sys-color-on-secondary: rgb(0 53 66);
    --md-sys-color-secondary-container: rgb(0 78 95);
    --md-sys-color-on-secondary-container: rgb(180 235 255);
    --md-sys-color-tertiary: rgb(211 201 114);
    --md-sys-color-on-tertiary: rgb(54 49 0);
    --md-sys-color-tertiary-container: rgb(78 72 0);
    --md-sys-color-on-tertiary-container: rgb(240 229 139);
    --md-sys-color-error: rgb(255 180 171);
    --md-sys-color-on-error: rgb(105 0 5);
    --md-sys-color-error-container: rgb(147 0 10);
    --md-sys-color-on-error-container: rgb(255 218 214);
    --md-sys-color-background: rgb(24 19 11);
    --md-sys-color-on-background: rgb(236 225 212);
    --md-sys-color-surface: rgb(24 19 11);
    --md-sys-color-on-surface: rgb(236 225 212);
    --md-sys-color-surface-variant: rgb(79 69 57);
    --md-sys-color-on-surface-variant: rgb(210 196 180);
    --md-sys-color-outline: rgb(155 143 128);
    --md-sys-color-outline-variant: rgb(79 69 57);
    --md-sys-color-shadow: rgb(0 0 0);
    --md-sys-color-scrim: rgb(0 0 0);
    --md-sys-color-inverse-surface: rgb(236 225 212);
    --md-sys-color-inverse-on-surface: rgb(54 47 39);
    --md-sys-color-inverse-primary: rgb(125 87 14);
    --md-sys-color-primary-fixed: rgb(255 222 174);
    --md-sys-color-on-primary-fixed: rgb(40 24 0);
    --md-sys-color-primary-fixed-dim: rgb(241 190 109);
    --md-sys-color-on-primary-fixed-variant: rgb(96 65 0);
    --md-sys-color-secondary-fixed: rgb(180 235 255);
    --md-sys-color-on-secondary-fixed: rgb(0 31 40);
    --md-sys-color-secondary-fixed-dim: rgb(135 209 234);
    --md-sys-color-on-secondary-fixed-variant: rgb(0 78 95);
    --md-sys-color-tertiary-fixed: rgb(240 229 139);
    --md-sys-color-on-tertiary-fixed: rgb(31 28 0);
    --md-sys-color-tertiary-fixed-dim: rgb(211 201 114);
    --md-sys-color-on-tertiary-fixed-variant: rgb(78 72 0);
    --md-sys-color-surface-dim: rgb(24 19 11);
    --md-sys-color-surface-bright: rgb(63 56 47);
    --md-sys-color-surface-container-lowest: rgb(18 13 7);
    --md-sys-color-surface-container-low: rgb(32 27 19);
    --md-sys-color-surface-container: rgb(36 31 23);
    --md-sys-color-surface-container-high: rgb(47 41 33);
    --md-sys-color-surface-container-highest: rgb(58 52 43);
}

[data-theme="light"] {
    --md-sys-color-primary: rgb(125 87 14);
    --md-sys-color-surface-tint: rgb(125 87 14);
    --md-sys-color-on-primary: rgb(255 255 255);
    --md-sys-color-primary-container: rgb(255 222 174);
    --md-sys-color-on-primary-container: rgb(40 24 0);
    --md-sys-color-secondary: rgb(3 103 126);
    --md-sys-color-on-secondary: rgb(255 255 255);
    --md-sys-color-secondary-container: rgb(180 235 255);
    --md-sys-color-on-secondary-container: rgb(0 31 40);
    --md-sys-color-tertiary: rgb(103 96 19);
    --md-sys-color-on-tertiary: rgb(255 255 255);
    --md-sys-color-tertiary-container: rgb(240 229 139);
    --md-sys-color-on-tertiary-container: rgb(31 28 0);
    --md-sys-color-error: rgb(186 26 26);
    --md-sys-color-on-error: rgb(255 255 255);
    --md-sys-color-error-container: rgb(255 218 214);
    --md-sys-color-on-error-container: rgb(65 0 2);
    --md-sys-color-background: rgb(255 248 243);
    --md-sys-color-on-background: rgb(32 27 19);
    --md-sys-color-surface: rgb(255 248 243);
    --md-sys-color-on-surface: rgb(32 27 19);
    --md-sys-color-surface-variant: rgb(239 224 207);
    --md-sys-color-on-surface-variant: rgb(79 69 57);
    --md-sys-color-outline: rgb(128 117 103);
    --md-sys-color-outline-variant: rgb(210 196 180);
    --md-sys-color-shadow: rgb(0 0 0);
    --md-sys-color-scrim: rgb(0 0 0);
    --md-sys-color-inverse-surface: rgb(54 47 39);
    --md-sys-color-inverse-on-surface: rgb(251 239 226);
    --md-sys-color-inverse-primary: rgb(241 190 109);
    --md-sys-color-primary-fixed: rgb(255 222 174);
    --md-sys-color-on-primary-fixed: rgb(40 24 0);
    --md-sys-color-primary-fixed-dim: rgb(241 190 109);
    --md-sys-color-on-primary-fixed-variant: rgb(96 65 0);
    --md-sys-color-secondary-fixed: rgb(180 235 255);
    --md-sys-color-on-secondary-fixed: rgb(0 31 40);
    --md-sys-color-secondary-fixed-dim: rgb(135 209 234);
    --md-sys-color-on-secondary-fixed-variant: rgb(0 78 95);
    --md-sys-color-tertiary-fixed: rgb(240 229 139);
    --md-sys-color-on-tertiary-fixed: rgb(31 28 0);
    --md-sys-color-tertiary-fixed-dim: rgb(211 201 114);
    --md-sys-color-on-tertiary-fixed-variant: rgb(78 72 0);
    --md-sys-color-surface-dim: rgb(228 216 204);
    --md-sys-color-surface-bright: rgb(255 248 243);
    --md-sys-color-surface-container-lowest: rgb(255 255 255);
    --md-sys-color-surface-container-low: rgb(254 242 229);
    --md-sys-color-surface-container: rgb(248 236 223);
    --md-sys-color-surface-container-high: rgb(242 230 218);
    --md-sys-color-surface-container-highest: rgb(236 225 212);
}


body {
    margin: 0;
    padding: 0;
    font-family: noto, sans-serif;
    text-rendering: optimizeLegibility;
    font-size: medium;

    background-color: var(--md-sys-color-background);
    color: var(--md-sys-color-on-background);

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex: 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 5rem;
    margin: 0;

    background-color: var(--md-sys-color-surface-container-lowest);
    color: var(--md-sys-color-on-surface);

    .nav {
        display: flex;
    }

    .nav-link {
        font-family: Noto Sans Mono, monospace;
        color: inherit;
        padding: 0.5rem;
        margin: 0.5rem;
        text-decoration: none;
    }

    #checkbox{
        visibility: hidden;
    }
}

.content {
    display: flex;
    flex-direction: column;
    flex: 1 auto;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.footer {
    display: flex;
    padding: 0 5rem;
    margin: 0;
    flex-direction: column;

    /*background-color: var(--md-sys-color-surface-container-lowest);*/
    color: var(--md-sys-color-on-surface);

    .decoration {
        display: flex;
        flex-flow: row wrap;
        overflow: hidden;
        justify-content: center;
        padding: 0;
        margin: 0;

        height: 32px;
    }

    .footer-text {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.5rem 1rem;
    }

    .copyright {
        color: inherit;
        text-decoration: none;
    }
}

.social-container {
    background-color: inherit;

    .social-link {
        text-decoration: none;
        color: inherit;
        margin: 0.1rem;
    }
}

/*  */

h1, h2, h3, h4, h5, h6 {
    font-family: Noto Sans Mono, monospace;
    color: var(--md-sys-color-primary);
    margin: 0;
}

h1 {
    font-size: xxx-large;
}

h2 {
    font-size: xx-large;
}

h3 {
    font-size: x-large;
}

h4 {
    font-size: larger;
}

h5 {
    font-size: large;
}

h6 {
    font-size: medium;
}

blockquote {
    border-left: 2px solid var(--md-sys-color-on-surface);
    padding: 0.1rem 1rem;
}

code {
    padding: 0;
    margin: 0;
    font-family: Noto Sans Mono, monospace;
    font-size: smaller;
    background-color: var(--md-sys-color-surface-container);
}

.main {
    background-color: var(--md-sys-color-surface-bright);
    margin: 5rem;
    padding: 2rem;
    border-radius: 1rem;
    min-width: 60%;
    text-align: left;
}

.article {
    display: flex;
    margin: 1rem;
    max-width: 1200px;
}

.article-content {
    flex: 1 auto;
    max-width: 70%;
}

.article-meta {
    width: auto;
    margin-top: 1rem;

    .decoration {
        display: flex;
        flex-flow: row wrap;
        overflow: hidden;
        justify-content: center;
        padding: 0;
        margin: 0;

        height: 64px;
    }

    .metadata {
        margin: 1rem 0.5rem;
        text-align: left;
    }
}

.subtitle {
    margin-top: 0.5rem;
    margin-bottom: 2rem;
    color: var(--md-sys-color-on-surface-variant);
}

hr {
    margin: 0.5rem;
    color: var(--md-sys-color-outline);
}

.tag {
    background-color: var(--md-sys-color-secondary);
    color: var(--md-sys-color-on-secondary);

    padding: 0.3rem;
    border-radius: 0.5rem;
    text-decoration: none;
}

.primary-text {
    color: var(--md-sys-color-primary);
}

.button-primary {
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    width: fit-content;

    background-color: var(--md-sys-color-primary);
    color: var(--md-sys-color-on-primary);
}

a{
    color: var(--md-sys-color-on-surface);
}
